.btn-wide {
  width: 7em;
}

.ModifyJobber-picture {
  max-width: 92px;
}

#root
  > div
  > div.container-fluid
  > div
  > div.col-md-9
  > form
  > div:nth-child(13)
  > div:nth-child(3)
  > img {
  height: 20vh;
  width: auto;
}
