header {
  display: block;
  margin-top: 1rem;
}

.innerWrap {
  max-width: 1100px;
  height: 90px;
  margin: 0 auto;
  display: block;
}

.headerLeftSection {
  float: left;
  margin-right: 25px;
}

.headerRightSection {
  float: right;
  position: relative;
}

#header-logo-image {
  float: left;
  padding: 5px 20px 5px 0;
  max-width: 100%;
}

.logoLink {
  color: #007170;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  background-color: transparent;
  cursor: pointer;
}

.imgLogo {
  margin-bottom: 0px;
  max-height: 60px;
  height: auto;
  width: auto;
  border: 0;
  max-width: 100%;
  vertical-align: top;
}

.mainNav {
  float: right;
  padding-right: 10px;
}

.menu {
  list-style: none;
}

.menuItem {
  float: left;
  position: relative;
  padding: 20px;
}

.link {
  text-decoration: none;
  transition: 0.25s ease-in-out;
  background-color: transparent;
  color: #666666;
}
