.header-post-title-container {
  background-color: #007170;
  padding: 40px 0;
  border-bottom: 1px solid #f2f2f2;
}

.header-post-title-container .post-title-wrapper {
  float: left;
  max-width: 100%;
  padding-right: 30px;
}

.header-post-title-class {
  font-size: 24px;
  padding-bottom: 0;
  color: #ffffff;
}

.clearfix {
  display: block;
}

.single-page {
  margin-top: 50px;
  color: #888888;
}

.single-page.clearfix > div > div > ol > li {
  border-bottom: 4px solid #007170;
}

.single-page.clearfix > div > div > ol > li::before {
  color: #007170;
  /* background-color: #d9faf9; */
}
